body {
	padding: 20px 40px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	transition: 0.3s;
}

.dark body {
	color: white;
	background-color: rgb(30, 30, 30);
}

h1,
h2,
h3 {
	font-weight: 600;
	letter-spacing: -0.02em
}

p {
	font-size: 14px;
	margin: 5px 0;
	font-weight: 300;
}

a {
	transition: 0.3s;
}

a:hover,
a:active {
	color: rgb(40, 85, 223);
}

a {
	color: rgb(225, 26, 26);
}

button {
	background-color: #e3e3e3;
	border-radius: 4px;
	border-width: 1px;
	margin: 10px 0;
	padding: 5px 12px;
	transition: 0.3s;
}

button:hover {
	background-color: #303030;
	color: white;
	scale: 1.02;
}

.dark button {
	background-color: #2c2c2c;
	border: 1px solid #ccc;
	color: white;
}

.dark button:hover {
	background-color: #e3e3e3;
	color: black;
}

button:active {
	scale: 1.1;
}

table {
	border-collapse: collapse;
	margin: 20px 0;
	transition: 0.3s;
}

caption {
	font-weight: bold;
	font-size: 25px;
	padding: 20px 0px;
	text-align: left;
}

th {
	padding: 5px 10px;
	border: 1px solid rgb(30, 30, 30);
	transition: 0.3s;
}

.dark th {
	border: 1px solid white;
}

td {
	border: 1px solid rgb(30, 30, 30);
	transition: 0.3s;
}

.dark td {
	border: 1px solid white;
}

input {
	border: none;
	border-radius: 0;
	padding: 5px 10px;
	transition: 0.3s;
	text-align: center;
}

label {
	font-size: 15px;
}

.dark input {
	color: white;
	background-color: rgb(30, 30, 30);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input.addRow {
	border: 1px solid black;
	width: 1.2em;
	padding: 2px;
}

.dark input.addRow {
	border: 1px solid white;
}

/* ================ IDs ================ */

#darkmode {
	position: fixed;
	right: 2%;
	bottom: 2%;
	padding: 8px 8px;
	border-radius: 10px;
}

#darkmode:hover {
	scale: 1.1;
}

#darkmode:active {
	scale: 1.2;
}

#watermark {
	position: fixed;
	bottom: 2%;
	text-align: center;
	font-size: 8px;
}

/* Classes */

.hidden {
	transition: 0.3s;
	display: none !important;
}

.section {
	display: block;
	/* justify-content: center; */
}

.container {
	display: flex;
	justify-content: space-around;
	gap: 2em;
	margin-bottom: 3em;
}

.center {
	display: flex;
	justify-content: center;
}

.domain {
	padding: 5px 10px;
	width: 62px;
	text-align: center;
	font-size: 14px;
}

*:disabled {
	background-color: lightgrey;
	color: #555;
}

.header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.inlineflex {
	display: inline-flex;
	gap: 0.5em;
	align-items: center;
}

.sidebar {
	height: calc(100% - 3em);
	width: max(13%, 160px);
	position: fixed;
	z-index: 1;
	margin: 1em;
	top: 0;
	left: 0;
	background-color: #eee;
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding: 0.5em 1.5em;
	border-radius: 5px;
	transition: 0.3s;

	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 3em;
}

.dark .sidebar {
	background-color: #2c2c2c;
}

.main {
	margin-left: max(calc(13% + 2em), 190px);
	/* sidebar width */
	padding: 0px 10px;
}

.private {
	color: transparent;
	background-color: #e1e1e1;
}

.private:hover {
	color: black;
	background-color: transparent;
}

.dark .private {
	color: transparent !important;
	background-color: #303030 !important;
}

.dark .private:hover {
	color: white !important;
	background-color: transparent !important;
}


.dark .indicatorSun,
.indicatorMoon {
	display: block;
}

.dark .indicatorMoon,
.indicatorSun {
	display: none;
}